<!DOCTYPE Html>
<html>
	<head>
		<title>Rango</title>
	</head>

	<body>
		<h1>Register with Rango</h1>
		{% if registered %}
			Rango says: <strong>Thank you for registering!</strong>
			<a href="/rango/">Return to the homepage</a>
		{% else %}
			Rango says: <strong>Register here!</strong>
			<form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
				{% csrf_token %}

				<!-- The as_p method wraps each element in paragraph element
					(<p>). This ensures each element appears in new line
					making everything look neater.
				-->
				{{ user_form.as_p }}
				{{ profile_form.as_p }}

				<!-- Provide a button to click to submit the form -->
				<input type="submit" name="submit" value="Register" />
			</form>
		{% endif %}
	</body>
</html>
